@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Department </h1>
<br />
<br />
<form asp-action="Delete">
    <div class="m-2">
        <label asp-for="Code" class="col-form-lable">Code</label>
        <input asp-for="Code" class="form-control" readonly />

    </div>

    <div class="m-2">
        <label asp-for="Name" class="col-form-label">Name</label>
        <input asp-for="Name" class="form-control" readonly />


    </div>
    <div class="m-2">
        <label asp-for="CreateAt" class="col-form-label">Date Of Creation</label>
        <input asp-for="CreateAt" class="form-control" readonly />


    </div>
    <br />
    <br />
    <a asp-action="Delete" class="btn btn-danger">Delete</a>
    <a asp-action="Index" class="btn btn-light">Back to list</a>
</form>>

